<div *ngIf="loading || errorLoadingNote; else noteTemplate">
  <ng-container *ngIf="loading">
    Fetching your note!
  </ng-container>
  <ng-container *ngIf="errorLoadingNote">
    Failed to retrieve note
  </ng-container>
</div>

<ng-template #noteTemplate>
  <form #noteForm="ngForm" (ngSubmit)="createNote(noteForm)">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        required
        [(ngModel)]="note.title"
        name="title"
        #noteTitle="ngModel"
      />
      <mat-error *ngIf="noteTitle.hasError('required') && noteTitle.touched">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        required
        [(ngModel)]="note.description"
        name="description"
        #noteDescription="ngModel"
      ></textarea>
      <mat-error
        *ngIf="noteDescription.hasError('required') && noteDescription.touched"
      >
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="notes-space-around-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!noteForm.valid"
      >
        {{ isExistingNote ? "Update note" : "Create note" }}
      </button>
      <button mat-raised-button color="secondary" type="reset">
        Clear
      </button>
    </div>
  </form>
</ng-template>
