<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span>Manage your notes</span>
    <span class="notes-spacer"></span>
    <div id="notes-toolbar-actions-container">
      <button
        mat-icon-button
        aria-label="Create a new note"
        (click)="navigateToNotesHome()"
      >
        <mat-icon>house</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Create a new note"
        (click)="navigateToNewNote()"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <!-- <mat-icon
      class="notes-icon"
      aria-hidden="false"
      aria-label="Create a new note"
      >create</mat-icon
    >
    <mat-icon
      class="notes-icon"
      aria-hidden="false"
      aria-label="Create a new note"
      >create</mat-icon
    > -->
  </mat-toolbar-row>
</mat-toolbar>
