:host {
  height: 100%;
  width: 100%;
}

#dashboard-container {
  width: inherit;
  height: inherit;

  .dashboard-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dashboard-sidenav-router-content {
      display: flex;
      padding-left: 30px;
      padding-top: 30px;
    }
  }

  .dashboard-sidenav {
    padding: 20px;
    min-width: 150px;
    max-width: 300px;
    width: 15%;
  }
}
